:root {

  /* PRINCIPAIS */
  --primary: #e2dbf1;
  --primary-dark: #5736ea;

  --secondary: #ff8c1a;
  --secondary-dark: #f47d00;

  --background: #f6f4fc;
  --surface: #ffffff;

  /* TEXTOS */
  --text-primary: #2e2b7f;
  --text-secondary: #7c7c96;

  /* BORDAS E SOMBRA */
  --border: #e5e0f2;
  --shadow: rgba(0,0,0,.08);

  /* 🟣 AÇÕES (NOVO) */
  --edit-bg: #8336ff;
  --edit-text: #ffffff;

  --delete-bg: #ff2727;
  --delete-text: #ffffff;

  /* 🟢 STATUS (NOVO) */
  --status-available-bg: #d1fae5;
  --status-available-text: #119972;

  --status-adopted-bg: #fee2e2;
  --status-adopted-text: #991b1b;

  --status-treatment-bg: #fef9c3;
  --status-treatment-text: #854d0e;

}