:root {

  /* ===== BASE ===== */
  --primary: #e2dbf1;
  --primary-dark: #5736ea;

  --secondary: #ff8c1a;
  --secondary-dark: #f47d00;

  --background: #f6f4fc;
  --surface: #ffffff;
  
  /* ===== TEXTOS ===== */
  --text-primary: #2e2b7f;
  --text-secondary: #7c7c96;

  /* ===== BORDAS / SOMBRA ===== */
  --border: #e5e0f2;
  --shadow: rgba(0,0,0,.08);

  /* ===== STATUS ===== */
  --status-available-bg: #d1fae5;
  --status-available-text: #065f46;

  --status-adopted-bg: #fee2e2;
  --status-adopted-text: #991b1b;

  --status-treatment-bg: #fef9c3;
  --status-treatment-text: #854d0e;
  
  /* ===== AÇÕES ===== */
  --edit-bg: #ede9fe;
  --edit-text: #6d28d9;

  --delete-bg: #fee2e2;
  --delete-text: #b91c1c;

   /* ===== FORM / UI ===== */
  --input-border: #ddd;
  --input-focus: var(--primary);

  --form-label: #2d2480;

  --line: #e8e0ff;
}