.button {
  background-color: var(--secondary);
  color: var(--surface);
  
  border: none;
  border-radius: 10px;
  height: 42px;            
  padding: 0 20px;         
  cursor: pointer;

  transition: 0.2s;
  display: flex;             
  align-items: center;
  justify-content: center;

  gap: 6px;

  white-space: nowrap;
}

.button:hover {
  background-color: var(--secondary-dark);
}