.button {
  background-color: var(--secondary);
  color: var(--surface);

  border: none;
  border-radius: 10px;

  height: 42px;              /* 👈 IGUAL AO INPUT */
  padding: 0 20px;           /* 👈 remove quebra vertical */

  cursor: pointer;

  transition: 0.2s;

  display: flex;             /* 👈 garante alinhamento do texto + ícone */
  align-items: center;
  justify-content: center;

  gap: 6px;

  white-space: nowrap;
}

.button:hover {
  background-color: var(--secondary-dark);
}